*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
}
button{
  width: 150px;
  height: 45px;
  font-size: 20px;
  color: white;
  background: rgb(18, 12, 77);
  border: none;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
button:hover{
  background: rgb(45, 35, 136);
}
.count{
  margin: 0 25px;
}